<template>
    <label>
        {{ label }}
        <select> </select>
    </label>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class USelect extends Vue {
    @Prop() label!: string;
}
</script>

<style scoped lang="scss"></style>
