<template>
    <div>
        <slot :visible-data="visibleData"></slot>
        <slot name="pagination" :info="paginationInfo" :set-page="setPage"></slot>
    </div>
</template>

<script lang="ts">
import { Component, Model, Prop, Vue } from "vue-property-decorator";
import { PaginationInfo } from "@/models/ui/PaginationInfo";

// currently only supports small subset of pagination
// add features on the fly

@Component
export default class UGenericPagination<T> extends Vue {
    @Prop(Array) data!: T[];
    @Prop(Number) pageSize!: number;

    currentPage: number = 0;

    get visibleData(): T[] {
        return this.data.slice(this.currentPage * this.pageSize, (this.currentPage + 1) * this.pageSize);
    }

    setPage(page: number): void {
        this.currentPage = page;
    }

    get totalPages(): number {
        return Math.ceil(this.data.length / this.pageSize);
    }

    get paginationInfo(): PaginationInfo {
        return new PaginationInfo(this.currentPage, this.totalPages);
    }
}
</script>

<style scoped lang="scss"></style>
