<template>
    <div class="u-pagination-buttons">
        <u-button @click="previousPage">
            <menu-left-icon />
        </u-button>

        <template v-for="page in visiblePages">
            <u-button :key="page" v-if="page !== null" :active="page === current" @click="() => setPage(page)">
                {{ page + 1 }}
            </u-button>
            <span :key="page" v-if="page === null">...</span>
        </template>

        <u-button @click="nextPage">
            <menu-right-icon />
        </u-button>
    </div>
</template>

<script lang="ts">
import { Component, Model, Prop, Vue } from "vue-property-decorator";
import MenuLeftIcon from "vue-material-design-icons/MenuLeft.vue";
import MenuRightIcon from "vue-material-design-icons/MenuRight.vue";
import UButton from "@/components/ui/button/UButton.vue";
import { Emit, Watch } from "vue-class-decorator";
import { range } from "@/utils/generators";
import wu from "wu";
import get = Reflect.get;

/**
 * Returns an interval completely inside min/max, as close to center as possible
 *
 * @param center - center point which interval will try to get as close as possible
 * @param size - size of interval
 * @param min - minimum point at which interval can start (inclusive)
 * @param max - maximum point where interval can end (exclusive)
 */
function centeredIntervalInInterval(center: number, size: number, min: number, max: number) {
    let half = (size - 1) / 2;

    let low = Math.floor(center - half);
    let high = Math.floor(center + half) + 1;

    if (low < min) [low, high] = [min, high - low + min];
    else if (high > max) [low, high] = [low - high + max, max];

    low = Math.max(min, low);
    high = Math.min(max, high);

    return { low, high };
}

@Component({
    components: { UButton, MenuLeftIcon, MenuRightIcon },
})
export default class UPaginationButtons extends Vue {
    @Prop(Number) length!: number;
    @Prop({ default: 0 }) totalVisible!: number;

    @Model("change", { type: Number, default: 0 })
    current!: number;

    @Emit("change")
    setPage(page: number): number {
        if (page < 0) return 0;
        if (page >= this.length) return this.length - 1;

        return page;
    }

    @Watch("length")
    lengthChanged(val: number, oldVal: number) {
        this.setPage(this.current);
    }

    /**
     * Visible page buttons - null means "..." indicator
     */
    get visiblePages(): (number | null)[] {
        if (this.totalVisible === 0 || this.length < this.totalVisible) {
            return Array.from(range(this.length));
        }

        // we're counting ... as button too, + 1/max and the current button
        let { low, high } = centeredIntervalInInterval(this.current, this.totalVisible - 4, 2, this.length - 2);

        let prefix = [0, low == 2 ? 1 : null];
        let suffix = [high == this.length - 2 ? this.length - 2 : null, this.length - 1];
        let middle = Array.from(range(low, high));

        return prefix.concat(middle).concat(suffix);
    }

    previousPage() {
        this.setPage(this.current - 1);
    }

    nextPage() {
        this.setPage(this.current + 1);
    }
}
</script>

<style scoped lang="scss">
.u-pagination-buttons {
    display: flex;

    align-items: center;
    text-align: center;
    justify-content: center;

    > span,
    > .u-button {
        min-width: 40px;
    }
}
</style>
