<template>
    <div>
        <div><slot :visible-data="visibleData"></slot></div>
        <u-pagination-buttons
            :length="totalPages"
            v-model="currentPage"
            :total-visible="totalVisible"
            style="vertical-align: center"
        />
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { mixins } from "vue-class-component";
import UGenericPagination from "@/components/ui/pagination/UGenericPagination.vue";
import UPaginationButtons from "@/components/ui/pagination/UPaginationButtons.vue";

@Component({
    components: { UPaginationButtons },
})
export default class UPagination extends mixins(UGenericPagination) {
    @Prop({ default: 0 }) totalVisible!: number;
}
</script>

<style scoped lang="scss"></style>
