<template>
    <div>
        <div>
            <u-button @click="show('cards')" :active="showing === 'cards'"> Cards </u-button>
            <u-button @click="show('sets')" :active="showing === 'sets'"> Set bonuses </u-button>
        </div>

        <div v-if="showing === 'cards'">
            <div>
                <label>
                    Show rarities:
                    <select v-model="filteredRarity">
                        <option value="all">All</option>
                        <option value="0">Common</option>
                        <option value="1">Uncommon</option>
                    </select>
                </label>
                <label style="padding-left: 20px">
                    <input type="text" placeholder="Search..." @keyup="searchKeyup" v-model="searchText" />
                </label>
                <u-button @click="submitSearch">Search</u-button>
            </div>

            <div class="Search">
                <div v-for="(text, index) of allSearch" :key="text">
                    {{ text }}
                    <span style="color: darkred">
                        <delete-icon @click="() => deleteSearch(index)"> </delete-icon>
                    </span>
                    <br />
                </div>
            </div>

            <u-pagination key="cards" :page-size="pageSize" :data="cards" #default="slot" :total-visible="9">
                <tera-card-list :cards="slot.visibleData"></tera-card-list>
            </u-pagination>
        </div>

        <u-pagination
            v-if="showing === 'sets'"
            key="sets"
            :page-size="3"
            :data="sets"
            #default="slot"
            :total-visible="9"
        >
            <div v-for="set of slot.visibleData" :key="set.id">
                <tera-card-set :set="set" />
            </div>
        </u-pagination>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import TeraCard from "@/components/calcs/cards/TeraCard.vue";
import { Card } from "@/models/Card";
import { Filter } from "vue-class-decorator";
import TeraCardSet from "@/components/calcs/cards/TeraCardSet.vue";
import TeraCardList from "@/components/calcs/cards/TeraCardList.vue";
import UPagination from "@/components/ui/pagination/UPagination.vue";
import UButton from "@/components/ui/button/UButton.vue";
import { RootStore } from "@/store";
import { ensureModule } from "@/utils/vuex";
import wu from "wu";

import DeleteIcon from "vue-material-design-icons/Delete.vue";

@Component({
    components: {
        UButton,
        UPagination,
        TeraCardSet,
        TeraCard,
        TeraCardList,
        DeleteIcon,
    },
})
export default class CardCalc extends Vue {
    @Prop({ type: Number, default: 10 }) pageSize!: number;

    private page: number = 1;
    private tab: number = 0;
    private showing: string = "cards";

    private cardsStore = ensureModule<RootStore>(this.$store).datacenter.cards;

    private filteredRarity = "0";
    private searchText = "";

    private allSearch: string[] = [];

    searchKeyup(event: any) {
        if (event.code === 13) this.submitSearch();
    }
    submitSearch() {
        this.allSearch.push(this.searchText);
        this.searchText = "";
    }

    deleteSearch(index: number) {
        this.allSearch.splice(index, 1);
    }

    show(name: string): void {
        this.showing = name;
    }

    mounted() {
        this.cardsStore.fetchCards();
        this.cardsStore.fetchSets();
    }

    @Filter()
    categoryIn(cards: Card[], categories: number[]): Card[] {
        return cards.filter(card => categories.includes(card.category));
    }

    rarityFilter(card: Card): boolean {
        return this.filteredRarity == "all" ? true : card.level === parseInt(this.filteredRarity);
    }

    searchFilter(card: Card): boolean {
        return (
            this.allSearch.every(search => card.matchesSearch(search)) &&
            (this.searchText == "" || card.matchesSearch(this.searchText))
        );
    }

    get rawCards() {
        return this.cardsStore.cards;
    }

    get cards() {
        return wu(this.rawCards)
            .filter(this.rarityFilter)
            .filter(this.searchFilter)
            .toArray();
    }

    get sets() {
        return this.cardsStore.sets;
    }

    get pagesLength(): number {
        return Math.ceil(this.cards.length / this.pageSize);
    }

    get cardsOnCurrentPage(): Card[] {
        return this.cards.slice((this.page - 1) * this.pageSize, this.page * this.pageSize);
    }
}
</script>

<style scoped lang="scss"></style>
