<template>
    <div class="card" :style="[widthStyle]">
        <TeraCardBigFrame
            :card="card"
            :effect="effectUrl"
            :image="imageUrl"
            :type="typeUrl"
            v-if="card"
        ></TeraCardBigFrame>
        <TeraCardTooltip v-if="card && hasTooltip" :card="card" />
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Card } from "@/models/Card";
import TeraCardBigFrame from "@/components/calcs/cards/TeraCardBigFrame.vue";
import TeraCardTooltip from "@/components/calcs/cards/TeraCardTooltip.vue";
import { url } from "@/utils/urls";
import { ensureModule } from "@/utils/vuex";
import { RootStore } from "@/store";

import { VModal } from "vuetensils";
import TeraCardCategory from "@/components/calcs/cards/TeraCardCategory.vue";

const IMAGES_URL = "/static/datacenter/images/";
const cardUrl = require.context("@/assets/datacenter/cards", true);

@Component({
    components: {
        TeraCardBigFrame,
        TeraCardTooltip,
    },
})
export default class TeraCard extends Vue {
    @Prop({ default: null }) private id!: number;

    @Prop({ type: Boolean, default: false })
    private hasTooltip!: boolean;

    @Prop({ type: Number, default: 0 })
    private hasWidth!: number;

    @Prop({ default: false })
    private hasDetail!: boolean;

    private cardStore = ensureModule<RootStore>(this.$store).datacenter.cards;

    mounted() {
        if (this.card === null) {
            this.cardStore.fetchCard({ id: this.id });
        }
    }

    get card(): Card | null {
        return this.cardStore.cardsById.get(this.id) || null;
    }

    get widthStyle() {
        if (this.hasWidth === 0) return {};
        return {
            width: this.hasWidth + "px",
            fontSize: (this.hasWidth / 256) * 12 + "px",
        };
    }

    get effectUrl(): string | null {
        if (this.card && this.card.effect) {
            return url(IMAGES_URL, this.card.effect);
        }

        return null;
    }

    get imageUrl(): string | null {
        if (this.card && this.card.image) return url(IMAGES_URL, this.card.image);
        return null;
    }

    get typeUrl(): string | null {
        if (this.card && this.card.property) return cardUrl(`./type_${this.card.property} fixed.png`);
        return null;
    }
}
</script>

<style scoped lang="scss">
.card {
    width: 256px;
    font-size: 12px;
    padding: 10px;
    text-shadow: 3px 3px 7px black;
    font-weight: 600;
    font-family: Helvetica, serif;
    color: darken(white, 40%);
}
</style>
