<template>
    <div style="display: flex">
        <div style="width: 400px">
            <h3>{{ set.name }}</h3>
            <div v-for="effect in visibleEffects" :key="effect.passivity.id">
                <div style="margin: 10px" :class="{ 'green--text': effect.allCardMinLevel === 1 }">
                    <span v-if="effect.allCardMinLevel === 1">Uncommon: </span>
                    <span v-html="effect.passivity.generatedTooltip.trim()"></span>
                </div>
            </div>
        </div>
        <TeraCardList :cards="shownCards" :has-card-width="150" style="width: auto;" />
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Card } from "@/models/Card";
import { CardSet, CardSetEffect } from "@/models/CardSet";
import TeraCard from "@/components/calcs/cards/TeraCard.vue";
import TeraCardList from "@/components/calcs/cards/TeraCardList.vue";
import { Filter } from "vue-class-decorator";
import { ensureModule } from "@/utils/vuex";
import { RootStore } from "@/store";
@Component({
    components: { TeraCardList },
})
export default class TeraCardSet extends Vue {
    @Prop(CardSet) set!: CardSet;

    private cardsStore = ensureModule<RootStore>(this.$store).datacenter.cards;

    get cards(): Card[] {
        return this.set.categories.flatMap(category => this.cardsStore.categories.get(category) || []);
    }

    isLevel(level: number) {
        return (card: Card) => card.level == level;
    }

    get shownCards(): Card[] {
        return this.cards.filter(c => c.level === 0);
    }

    get visibleEffects() {
        for (let effect of this.set.effects) {
            console.log(effect.passivity.generatedTooltip);
        }
        return this.set.effects.filter(e => !e.passivity.isHidden);
    }
}
</script>

<style lang="scss">
.is-highlighted {
    color: orange;
}
</style>
