<template>
    <div>
        <ImageDiv class="frame" :image="frame">
            <ImageDiv class="effect" :image="effect" />
            <ImageDiv class="image" :image="image" />

            <ImageDiv class="type" :image="type" />

            <div class="name">{{ card.name }}</div>
            <div class="cost">{{ card.cost }}</div>

            <div class="passives">
                <span>
                    <span v-for="passive in visiblePassivities" :key="passive.id">
                        <span v-html="passive.tooltip != null ? passive.tooltip : passive.generatedTooltip"></span>
                        <br />
                    </span>
                </span>
            </div>
        </ImageDiv>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Card } from "@/models/Card";
import ImageDiv from "@/components/ImageDiv.vue";
import { Passivity } from "@/models/Passivity";

const cardUrl = require.context("@/assets/datacenter/cards/", true);
@Component({
    components: { ImageDiv },
})
export default class TeraCardBigFrame extends Vue {
    @Prop(Card) private card!: Card;

    @Prop(String) private effect!: string;
    @Prop(String) private image!: string;
    @Prop(String) private type!: string;

    get frame(): string {
        return cardUrl(`./frame_large_level_${this.card.level + 1}.png`);
    }

    get visiblePassivities(): Passivity[] {
        return this.card.passivities.filter(p => !p.isHidden);
    }
}
</script>

<style scoped lang="scss">
@mixin floating($z-index) {
    z-index: $z-index;
    position: absolute;
}

@mixin content-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin content-float($z-index) {
    @include floating($z-index);
    @include content-center();
}

.frame {
    color: darken(white, 10%);

    .effect {
        @include content-float(0);
    }

    .image {
        @include content-float(0);
    }

    .type {
        @include content-float(10);

        top: 2.3%;
        left: 4.2%;

        width: 20%;
        height: auto;
    }

    $passives-padding: 5px;

    .passives {
        @include content-float(10);
        text-align: center;
        padding: $passives-padding;
        bottom: 1.5%;

        width: calc(100% - #{2 * $passives-padding});
        height: calc(22.8% - #{2 * $passives-padding});
    }

    .name {
        @include content-float(10);

        bottom: 24.7%;

        width: 100%;
        height: 7.5%;
    }

    .cost {
        @include content-float(10);
        text-shadow: initial;

        top: 18.3%;
        left: 8.7%;

        width: 10%;
        height: 7%;
    }
}
</style>

<style lang="scss">
.color-positive {
    color: forestgreen;
}

.color-neutral {
    color: #c0b619;
}

.color-negative {
    color: firebrick;
}

.target-species {
    color: forestgreen;
}
</style>
