<template>
    <div class="tooltip">
        <div class="glowy-blue">
            <div class="lore">
                {{ card.lore }}
            </div>

            <div class="source">{{ card.source }}</div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Card } from "@/models/Card";
import ImageDiv from "@/components/ImageDiv.vue";

const cardUrl = require.context("@/assets/datacenter/cards/", true);
@Component({
    components: { ImageDiv },
})
export default class TeraCardTooltip extends Vue {
    @Prop(Card) private card!: Card;
}
</script>

<style scoped lang="scss">
/*@import "card";*/
$cardLoreColor: #3b6293;

.glowy-blue {
    //width: $cardWidth - 2 * $cardLoreBorderSize;
    text-align: center;
    padding: 15px;

    background-color: darken($cardLoreColor, 30%);
    border: $cardLoreColor 2px solid;
    box-shadow: inset 0 0 30px rgba(darken($cardLoreColor, 15%), 35%);
}

.source {
    padding-top: 20px;
    color: orange;
}
</style>
