<template>
    <div class="card">
        <v-modal v-model="modalOn">
            <tera-card-category :id="card.category"></tera-card-category>
        </v-modal>
        <internal-tera-card class="internal-card" v-bind="$props" @click.native="turnOnModal" />
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Card } from "@/models/Card";
import TeraCardBigFrame from "@/components/calcs/cards/TeraCardBigFrame.vue";
import TeraCardTooltip from "@/components/calcs/cards/TeraCardTooltip.vue";
import { ensureModule } from "@/utils/vuex";
import { RootStore } from "@/store";

import { VModal } from "vuetensils";
import TeraCardCategory from "@/components/calcs/cards/TeraCardCategory.vue";
import InternalTeraCard from "@/components/calcs/cards/InternalTeraCard.vue";

@Component({
    components: {
        InternalTeraCard,
        TeraCardCategory,
        TeraCardBigFrame,
        TeraCardTooltip,
        VModal,
    },
})
export default class TeraCard extends Vue {
    @Prop({ default: null }) private id!: number;

    @Prop({ type: Boolean, default: false })
    private hasTooltip!: boolean;

    @Prop({ type: Number, default: 0 })
    private hasWidth!: number;

    @Prop({ default: false })
    private hasDetail!: boolean;

    private modalOn = false;

    turnOnModal() {
        this.modalOn = true;
    }

    modalClick(event: any) {
        console.log(event.target);
    }

    private cardStore = ensureModule<RootStore>(this.$store).datacenter.cards;

    mounted() {
        if (this.card === null) {
            this.cardStore.fetchCard({ id: this.id });
        }
    }

    get card(): Card | null {
        return this.cardStore.cardsById.get(this.id) || null;
    }
}
</script>

<style scoped lang="scss">
.internal-card {
    cursor: pointer;
}
</style>

<style lang="scss">
.card .vts-modal {
    background: rgba(0, 0, 0, 0.5);

    .vts-modal__content {
        background: rgba(0, 0, 0, 0.5);
    }
}

.vts-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}
.vts-modal [tabindex="-1"]:focus {
    outline: 0;
}
.vts-modal__content {
    overflow: auto;
    max-width: 70vw;
    max-height: 80vh;
    background: #fff;
}
</style>
