<template>
    <div style="display: flex">
        <internal-tera-card v-for="card of cards" :key="card.id" :id="card.id" has-tooltip></internal-tera-card>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { RootStore } from "@/store";
import { ensureModule } from "@/utils/vuex";
import InternalTeraCard from "@/components/calcs/cards/InternalTeraCard.vue";

@Component({
    components: { InternalTeraCard },
})
export default class TeraCardCategory extends Vue {
    @Prop() id!: number;

    private cardsStore = ensureModule<RootStore>(this.$store).datacenter.cards;

    get cards() {
        let cards = this.cardsStore.categories.get(this.id);
        if (cards) {
            cards.sort((a, b) => (a.level < b.level ? -1 : 1));
        }
        return cards;
    }
}
</script>

<style scoped lang="scss"></style>
