<template>
    <div class="card-list">
        <tera-card v-for="card in cards" :key="card.id" :id="card.id" :has-width="hasCardWidth" has-detail></tera-card>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import TeraCard from "@/components/calcs/cards/TeraCard.vue";
import { Card } from "@/models/Card";

@Component({
    components: {
        TeraCard,
    },
})
export default class TeraCardList extends Vue {
    @Prop(Array) cards!: Card[];
    @Prop({ type: Number, default: 0 }) hasCardWidth!: Number;
}
</script>

<style scoped lang="scss">
.card-list {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
</style>
