<template>
    <button class="u-button" :class="{ active }" @click="click">
        <slot></slot>
    </button>
</template>

<script lang="ts">
import { Component, Emit, Prop, Vue } from "vue-property-decorator";

@Component
export default class UButton extends Vue {
    @Prop(Boolean) active!: boolean;

    @Emit()
    click() {
        return this;
    }
}
</script>

<style scoped lang="scss">
@import "~@/styles/_variables.scss";

.u-button {
    border: $primary-color 1px solid;
    color: $primary-color;
    background-color: white;

    margin: 5px;
    padding: 5px;

    border-radius: 7px;

    transition: background-color 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: lighten($primary-color, 35%);
    }

    &.active {
        color: white;
        background-color: lighten($primary-color, 20%);
        &:hover {
            background-color: $primary-color;
        }
    }
}
</style>
