<template>
    <div class="home">
        <card-calc />
    </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import HelloWorld from "@/components/HelloWorld.vue";
import CardCalc from "@/components/calcs/cards/CardCalc.vue"; // @ is an alias to /src

@Component({
    components: {
        HelloWorld,
        CardCalc,
    },
})
export default class Home extends Vue {}
</script>
