<template>
    <div class="image-div" :class="extraClass" :style="extraStyle">
        <div class="content">
            <slot></slot>
        </div>
        <img class="bg" :src="image" alt="" />
    </div>
</template>

<script lang="ts">
import { Component, Prop, PropSync, Vue } from "vue-property-decorator";

@Component
export default class ImageDiv extends Vue {
    @Prop(String) image!: string;
    @Prop() extraClass: any;
    @Prop() extraStyle: any;
}
</script>

<style scoped lang="scss">
.image-div {
    position: relative;
    width: 100%;

    > .bg {
        position: relative;
        width: 100%;
        height: auto;
    }

    > .content {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}
</style>
