<template>
    <card-calc v-bind="$attrs" :page-size="parsedPageSize"></card-calc>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import CardCalc from "@/components/calcs/cards/CardCalc.vue";
import store from "@/store";
@Component({
    components: { CardCalc },
    store,
})
export default class CardCalculatorWrapper extends Vue {
    @Prop() pageSize!: string;

    get parsedPageSize() {
        return parseInt(this.pageSize);
    }
}
</script>

<style scoped lang="scss"></style>
