<template>
    <tera-card v-bind="$attrs" :id="parsedId" :has-tooltip="parsedHasTooltip"></tera-card>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import TeraCard from "@/components/calcs/cards/TeraCard.vue";
import store from "@/store";
@Component({
    components: { TeraCard },
    store,
})
export default class CardWrapper extends Vue {
    @Prop() id!: string;
    @Prop({ default: null }) hasTooltip!: string | null;

    get parsedId(): number {
        return parseInt(this.id);
    }

    get parsedHasTooltip(): boolean {
        if (this.hasTooltip === "false" || this.hasTooltip == "False") return false;

        return this.hasTooltip !== null;
    }
}
</script>

<style scoped lang="scss"></style>
