<template>
    <div></div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class ${COMPONENT_NAME} extends Vue {
   
}

</script>

<style scoped lang="scss">

</style>